<%- include('../template/head') -%>
<%- include('../template/sidebar') -%>
<main class="container-login">
    <div class="content-login bg-login m-login">
        <h2><b>Editar</b> Categoría</h2>
        <form class="form" action="/categorias/editar/<%= categoryId%>/<%= categoryId%>" method="POST">
            <div class="input-form">
                <label for="name"><b>Nuevo</b> nombre</label>
                <input id="name" type="text" name="name" value="<%= data[0].name%>" required />
            </div>
            <button class="btn btn-login btn-click" type="submit">
                Editar y guardar
            </button>
        </form>
    </div>
</main>
<%- include('../template/footer') -%>