<%- include('../template/head') -%>
<%- include('../template/sidebar') -%>
<main class="container-login">
    <div class="content-login bg-login m-login">
        <h2>editando la tarea <%= data.task[0].dataValues.title%></h2>
        <form class="form" action="/tareas/editar/<%=data.idTask%>/<%=data.idTask%>" method="post">
            <div class="input-form">
                <label for="title"><b>Nuevo</b> titulo</label>
                <input id="title" type="text" name="title" value="<%= data.task[0].dataValues.title%>" required />
            </div>
            <div class="input-form">
                <label for="description"><b>Nueva</b> Descripcion</label>
                <input id="description" type="text" name="description" value="<%= data.task[0].dataValues.description%>"
                    required />
            </div>
            <div class="input-form">
                <label for="due_date"><b>Nueva</b> Fecha</label>
                <input id="description" type="date" name="due_date" value="<%= data.task[0].dataValues.due_date%>"
                    required />
            </div>
            <div class="input-form">
                <label for="status"><b>Nuevo</b> estatus</label>
                <select name="status" value="<%= data.task[0].dataValues.status_id%>">
                    <option selected>(Estatus viejo: <%= data.task[0].Status.name%>)</option>
                    <%data.statuses.forEach((element) => {%>
                    <option value=<%= element.id%>>
                        <%= element.name%>
                    </option>
                    <%});%>
                </select>
            </div>
            <div class="input-form">
                <label for="category"><b>Nueva</b> categoria</label>
                <select name="category" value="<%= data.task[0].dataValues.category_id%>">
                    <option selected>(Categoria vieja: <%= data.task[0].Category.name%>)</option>
                    <%data.categories.forEach((element) => {%>
                    <option value=<%= element.id%>>
                        <%= element.name%>
                    </option>
                    <%});%>
                </select>
            </div>
            <button class="btn btn-login btn-click" type="submit">
                Editar y guardar
            </button>
        </form>
    </div>
</main>

<%- include('../template/footer') -%>