<%- include('../template/head') -%>
<%- include('../template/sidebar') -%>
<main class="container-login">
    <div class="content-login bg-login m-login">
        <h2>Nueva Status</h2>
        <form action="/estatus/create" method="POST" class="form">
            <div class="input-form">
                <label for="name">Nombre del estatus</label>
                <input id="name" type="text" name="name" required />
            </div>
            <div class="input-form m-top">
                <label for="status">importancia del estatus</label>
                <select name="color">
                    <option selected>Elije un color</option>
                    <option value="verde">verde - baja</option>
                    <option value="naranja">naranja - media</option>
                    <option value="rojo">rojo - alta</option>
                </select>
            </div>
            <button class="btn btn-login btn-click" type="submit">
                Guardar
            </button>
        </form>
        <div class="container-cards">
            <% data.forEach((element, i )=> { %>
            <div class="card">
                <div class="card-title">
                    <%if(element.dataValues.color === "verde") {%>
                    <span class="verde"></span>
                    <%} else if (element.dataValues.color === "naranja") { %>
                    <span class="naranja"></span>
                    <%} else {%>
                    <span class="rojo"></span>
                    <%}%>
                    <p><%= element.dataValues.name%></p>
                </div>
                <div class="card-info">
                    <a class="btn-click color-icon" href="/estatus/editar/<%= element.id %>">
                        <ion-icon name="create-outline"></ion-icon>
                    </a>
                    <a class="btn-click color-icon" href="/estatus/eliminar/<%= element.id %>">
                        <ion-icon name="trash-outline"></ion-icon>
                    </a>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</main>

<%- include('../template/footer') -%>