<%- include('../template/head') -%>
<%- include('../template/sidebar') -%>
<main class="container-login">
    <div class="content-login bg-login m-login">
        <h2>Nueva Tarea</h2>
        <form class="form" action="/tareas/create" method="POST">
            <div class="input-form">
                <label for="title">titulo</label>
                <input id="title" type="text" name="title" required />
            </div>
            <div class="input-form">
                <label for="description">Descripcion</label>
                <input id="description" type="text" name="description" required />
            </div>
            <div class="input-form">
                <label for="due_date">Fecha</label>
                <input id="description" type="date" name="due_date" required />
            </div>
            <div class="input-form">
                <label for="status">Estatus</label>
                <%if(data.statuses.length){%>
                <select name="status">
                    <option selected>Elije un estatus</option>
                    <%data.statuses.forEach((element) => {%>
                    <option value=<%= element.id%>>
                        <%= element.name%>
                    </option>
                    <%});%>
                </select>
                <%} else {%>
                <small><b>Debes de tener por lo menos un estatus</b></small>
                <%}%>
            </div>
            <div class="input-form">
                <label for="category">Categoria</label>
                <%if(data.categories.length){%>
                <select name="category">
                    <option selected>Elije una categoria</option>
                    <%data.categories.forEach((element) => {%>
                    <option value=<%= element.id%>>
                        <%= element.name%>
                    </option>
                    <%});%>
                </select>
                <%} else {%>
                <small><b>Debes de tener por lo menos una categoria</b></small>
                <% }%>
            </div>
            <button class="btn btn-login btn-click" type="submit">
                Guardar
            </button>
        </form>
        <div class="container-cards">
            <%data.tasks.forEach((element, i) => {%>
            <div class="card-task">
                <div class="card-task-title">
                    <span><%= element.title %></span>
                    <span><%= element.Category.name %></span>
                    <%if(element.Status.color === "verde") {%>
                    <div class="status-type-task">
                        <span class="verde"></span>
                        <span><%= element.Status.name %></span>
                    </div>
                    <%} else if (element.Status.color === "naranja") { %>
                    <div class="status-type-task">
                        <span class="naranja"></span>
                        <span><%= element.Status.name %></span>
                    </div>
                    <%} else {%>
                    <div class="status-type-task">
                        <span class="rojo"></span>
                        <span><%= element.Status.name %></span>
                    </div>
                    <%}%>
                </div>
                <div class="card-task-body">
                    <small><%= element.description %></small>
                    <% if(element.completed){ %>
                    <a class="completed btn-click" href="/tareas/completed/<%= element.id %>">
                        completa <ion-icon name="checkmark-circle"></ion-icon>
                    </a>
                    <% }else{ %>
                    <a class="completed btn-click" href="/tareas/completed/<%= element.id %>">
                        completa <ion-icon name="close-circle"></ion-icon>
                    </a>
                    <% }; %>
                    <p class="task-date"><%= element.due_date %></p>
                </div>
                <div class="card-task-option">
                    <a class="btn-click color-icon" href="/tareas/editar/<%= element.id %>">
                        <ion-icon name="create-outline"></ion-icon>
                    </a>
                    <a class="btn-click color-icon" href="/tareas/eliminar/<%= element.id %>">
                        <ion-icon name="trash-outline"></ion-icon>
                    </a>
                </div>
            </div>
            <%});%>
        </div>
    </div>
</main>

<%- include('../template/footer') -%>